<!--{{message}}
<h3><a routerLink ="../login" (click)="logout()">Logout</a></h3>-->

<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav = "matSidenav">

        <h4 class="name">{{message}}</h4>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>settings</mat-icon>
            <span>Master Settings</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>table</mat-icon>
            <span>Master Data</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>business</mat-icon>
            <span>Companies</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>User</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>key</mat-icon>
            <span>Users Roles</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>group</mat-icon>
            <span>teams</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="logout()" routerLink ="../login">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-sidenav> 
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <app-login></app-login>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>