
<div fxLayoutAlign="center center" fxFlexFill>   
    <mat-card fxFlex="45" >
        <div fxLayout="column" fxLayoutAlign="center center" class="logo-padding">
            <img class="img-responsive" src="../assets/images/eqs_logo.jpg" >
        </div>
        <h3 fxLayoutAlign="center center">
            You will receive an email with the steps to recover your password.
        </h3>
        <form fxLayoutAlign ="stretch" fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Email" >
            </mat-form-field>
            <button  class = "button-padding" mat-raised-button type="submit">Recover password</button>
        </form>
        <div fxLayoutAlign="center center" class="globalPadding">
            <h3><a routerLink ="../login">Back to login page</a></h3>
        </div>
    </mat-card>
</div>

  
 
