.mat-raised-button{
    
    background-color: #405061;
    color: white;
    margin-bottom:20px;
    
  
  }

  .button-padding{

    margin-left: 5%;
    margin-right: 5%;
  
  }

  .mat-form-field{

    padding-left: 5%;
    padding-right: 5%;
  }